<mc-loader *ngIf="isLoading$ | async"></mc-loader>
<mc-error-message
	*ngIf="error$ | async"
	[message]="error$ | async"
></mc-error-message>
<div *ngIf="feed$ | async as feed">
	<ng-container *ngIf="feed?.articles?.length; else noArticles">
		<mc-article
			*ngFor="let article of feed?.articles"
			[article]="article"
		></mc-article>
		<mc-pagination
			[total]="feed?.articlesCount || 10"
			[limit]="limit"
			[currentPage]="currentPage"
			[url]="baseUrl"
		></mc-pagination>
	</ng-container>
	<ng-template #noArticles>No articles found...</ng-template>
</div>
